#about{
    /* height:100vh; */
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.About{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.About-Content{
    flex:1;
    display:flex;
    flex-direction: column;
    margin-left: 16%;
}

/* .About-Img{
    flex:1;
} */

.About-Content-Tittle{
    color: #fff;
    font-size: 2.5em;
    font-weight: 200;
}

.About-Content-Paragraph{
    color:var(--text-color);
    font-size: 1.2em;
    text-align:justify;
    /* text-align: end; */
   /* text-justify: inherit; */
    line-height: 1.4em;
}

.About-Img{
    flex:1;
    font-display: flex;
    flex-direction: column;
    padding-left: 16%;
    position: relative;
    /* right:-4%; */
    
}

.About-Img-Svg{
    width:40%;
    
}

@media (max-width:540px){
    .About{
        display: flex;
        flex-direction: column;
    }.About-Content{
        
        margin-left:-4%;
    }
   
    .About-Content-Tittle{
      
        font-size: 2em;
        font-weight: 200;
        display: flex;
        justify-content: center;
    }
    .About-Content-Paragraph{
        color:var(--text-color);
        font-size: 1em;
        text-align:justify;
        width:300px;
        height:400px;
    /* word-wrap: break-word; */
        overflow:hidden;
        
        line-height: 1.5em;
    }
    .About-Img{
        display:none;
    }
}