:root{
    background-color: var(--background-color);
}

body{
    background-image: url("./assets/bulb.svg");
    background-size:75vh;
    background-position: 55%;
    background-attachment:fixed;
    background-repeat:no-repeat;
    scroll-behavior: smooth;
}